Desktop/
Downloads/
Downloads
Pictures/
go/
snap/
.vim/
.thunderbird/
.sudo_as_admin_successful
testglide/
.ssh/
.profile
.npm/
.aws/
.glide/
.lesshst
.local/
.pki/
.viminfo
.node_repl_history
.local/
.mozilla/
examples.desktop
.k5login
.gnupg/
.xsel.log
.config/user-dirs.dirs
.config/user-dirs.locale
.config/skypeforlinux/
.config/pulse/
.config/ibus/
.config/htop/
.config/libreoffice/
.ICEauthority
.bash_history
.bash_logout
.cache/
.config/autostart/
.config/chromium/
.config/dconf/
.config/enchant/
.config/evolution/
.config/exercism/
.config/gedit/
.config/gnome-initial-setup-done
.config/goa-1.0/
.config/gtk-2.0/
.config/gtk-3.0/
.config/nautilus/
apple
*.swp
